{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>User Profile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/users/user-profile.css'%}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
</head>
<body class="sidebar-noneoverflow">
    
   <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
            
            <ul class="navbar-item flex-row">
                <li class="nav-item align-self-center page-heading">
                    <div class="page-header">
                        <div class="page-title">
                            <h3>Admin</h3>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-item flex-row search-ul" hidden>
                <li class="nav-item align-self-center search-animated">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search toggle-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    <form class="form-inline search-full form-inline search" role="search" >
                        <div class="search-bar">
                            <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-item flex-row navbar-dropdown ml-auto">

                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a class="" href="{% url 'AdminProfile' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> My Profile</a>
                            </div>
                            
                            
                            <div class="dropdown-item">
                                <a class="" href="{% url 'AdminSignout' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

            <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            
            <nav id="sidebar">

                <ul class="navbar-nav theme-brand flex-row  text-center">
                    <li class="nav-item theme-logo">
                        <a href="{% url 'Admin' %}">
                            <img src="{% static 'assets/img/favicon.ico'%}" class="navbar-logo" alt="logo">
                        </a>
                    </li>
                    <li class="nav-item theme-text">
                        <a href="{% url 'Admin' %}" class="nav-link"> SAFAR </a>
                    </li>
                    <li class="nav-item toggle-sidebar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left sidebarCollapse"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                    </li>
                </ul>
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>Dashboard</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">
                            <li>
                                <a href="{% url 'Admin' %}"> Analytics </a>
                            </li>
                            <li>
                                <a href="{% url 'AdminRequests' %}"> Requests </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                
            </nav>

        </div>

        <!--  END SIDEBAR  -->
       
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-spacing">

                    <!-- Content -->
                    <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

                        <div class="user-profile layout-spacing">
                            <div class="widget-content widget-content-area">
                                <h2 class="">Info</h2><br>
                                <div class="text-center user-info">
                                    <img src="{% static 'assets/img/favicon.ico'%}" style="width: 32px; height: 26px;" alt="avatar">
                                    <p class="">{{request.user.admin}}</p>
                                </div>
                                <div class="user-info-list">

                                    <div class="">
                                        <ul class="contacts-block list-unstyled">
                                            <li class="contacts-block__item">
                                                <a href="mailto:example@mail.com"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>{{request.user.admin.admin_email}}</a>
                                            </li>
                                            <li class="contacts-block__item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>{{request.user.admin.admin_phone}}
                                            </li>
                                            
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                       

                        

                    </div>

                    <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                        <div class="bio layout-spacing ">
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                    <div class="col-xl-12  col-md-12">
                                        <div class="mail-box-container">
                                            <div class="tab-title">
                                                <div class="row">                                           
                                                    <div class="col-md-12 col-sm-12 col-12 mail-categories-container">
                                                        <div class="mail-sidebar-scroll">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div id="mailbox-inbox" class="accordion mailbox-inbox">
                                            <div class="message-box">
                                                <div class="message-box-scroll" id="ct">
                                                    HISTORY:<hr>
                                                    {% for acc in requests %}
                                                        <div id="unread-promotion-page" class="mail-item mailInbox" >
                                                            <div class="animated animatedFadeInUp fadeInUp" id="mailHeadingThree">
                                                                <div class="mb-0">
                                                                    <div class="mail-item-heading social collapsed"  data-toggle="collapse" role="navigation" data-target="#request{{acc.request_id}}" aria-expanded="false">
                                                                        <div class="mail-item-inner">

                                                                            <div class="d-flex">
                                                                                <div class="n-chk text-center" hidden>
                                                                                    <label class="new-control new-checkbox checkbox-primary">
                                                                                        <input type="checkbox" class="new-control-input inbox-chkbox">
                                                                                        <span class="new-control-indicator"></span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="f-head">
                                                                                    <img src="{% static 'assets/img/favicon.ico'%}" class="user-profile" alt="avatar">
                                                                                </div>
                                                                                <div class="f-body">
                                                                                    <div class="meta-mail-time">
                                                                                        <b><p class="user-email" data-mailTo="laurieFox@mail.com">&nbsp{{acc.request_id.account_id.username}}</p></b>
                                                                                    </div>
                                                                                    <div class="meta-title-tag">
                                                                                        <p class="mail-content-excerpt" data-mailDescription='{"ops":[{"insert":"...\n"}]}'>
                                                                                         <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                                                                                        </svg>
                                                                                        <span class="mail-title" data-mailTitle="request Page">{{acc.request_id.request_category}}...&nbsp&nbsp&nbsp&nbsp{{acc.request_id.status}}&nbsp&nbsp &nbsp {{acc.request_id.pub_date}} </span> 
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <div class="content-box">
                                                {% for acc in requests %}
                                                    <div id="request{{acc.request_id}}" class="collapse" aria-labelledby="mailHeadingThree" data-parent="#mailbox-inbox">
                                                        <div class="mail-content-container mailInbox" data-mailfrom="info@mail.com" data-mailto="linda@mail.com" data-mailcc="">

                                                            <div class="d-flex justify-content-between">

                                                                <div class="d-flex user-info">
                                                                    <div class="f-body">
                                                                        <div class="meta-title-tag">
                                                                            <h4 class="mail-usr-name" data-mailtitle="Request Page">{{acc.request_id.account_id.username}}</h4>
                                                                        </div>
                                                                        <div class="meta-mail-time">
                                                                            <p class="user-email" data-mailto="laurieFox@mail.com">{{acc.request_id.account_id.email}}</p>
                                                                            &nbsp
                                                                            <p class="meta-time align-self-center">{{acc.request_id.pub_date}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                
                                                            </div>

                                                            <p class="mail-content"  data-mailTitle="Request Page">
                                                                <pre style="font-size:1em;">
                                                                REQUEST ID       : {{acc.request_id}}<br>
                                                                NAME             : {{acc.request_id.account_id.username}}<br>
                                                                REQUEST CATEGORY : {{acc.request_id.request_category}}<br>
                                                                REQUEST AMOUNT   : {{acc.request_id.amount}}<br>
                                                                
                                                                </pre></p>
                                                                <p class="mail-content"> DESCRIPTION : {{acc.request_id.desc}}<br> </p>


                                                            <div class="gallery text-center">
                                                                <img alt="image-gallery" src="/supporting/{{acc.request_id.identity_image}}" class="img-fluid mb-4 mt-4" style="width: 200px; height: 200px;">&nbsp&nbsp
                                                                <img alt="image-gallery" src="/supporting/{{acc.request_id.image1}}" class="img-fluid mb-4 mt-4" style="width: 200px; height: 200px;">&nbsp&nbsp
                                                                <img alt="image-gallery" src="/supporting/{{acc.request_id.image2}}" class="img-fluid mb-4 mt-4" style="width: 200px; height: 200px;">&nbsp&nbsp
                                                            </div>

                                                        </div>
                                                    </div> 
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>         








                                
                                                       
                            </div>
                        

                        </div>
                    </div>
                </div>
             </div>   
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>