{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Causes Details – SAFAR</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"  type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--== Bootstrap CSS ==-->

    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!--== Icofont CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/icofont.css' %}">
    <!--== ElegantIcons CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/elegantIcons.css' %}">
    <!--== Animate CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <!--== Aos CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}">
    <!--== FancyBox CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
    <!--== Slicknav CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}">
    <!--== Swiper CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
    <!--== Main Style CSS ==-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

<!--wrapper start-->
<div class="wrapper causes-details-page-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
  <!--== End Preloader Content ==-->
<!--== Start Header Wrapper ==-->
  <header class="header-area header-default sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-5 col-sm-3 col-md-3 col-lg-2 pr-0">
          <div class="header-logo-area">
            <a href="{% url 'index' %}">
              <img class="logo-main" src="{% static 'img/main-logo2.png'%}" alt="Logo" />
              <img class="logo-light" src="{% static 'img/main-logo2.png'%}" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-7 col-sm-9 col-md-9 col-lg-10">
          <div class="header-align">
            <div class="header-navigation-area">
              <ul class="main-menu nav justify-content-center">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a  href="{% url 'about' %}">About Us</a></li>
                <li class="active"><a  href="{% url 'causes' %}">Causes</a></li>
                <li><a  href="{% url 'contact' %}">Contact Us</a></li>
              </ul>
            </div>
            <div class="header-action-area">
              <button class="btn-menu d-xl-none">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <a href="{% url 'Signout' %}" class="btn-theme btn-gradient btn-slide btn-style">Sign-Out <img class="icon icon-img" src="{% static 'img/icons/arrow-line-right2.png'%}" alt="Icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="{% static 'img/photos/bg-page-title.jpg'%}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content text-center">
              <h2 class="title text-white">Causes Details</h2>
              <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span class="active">Cause</span></div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Causes Area ==-->
    <section class="causes-details-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="causes-details-column">
              <div class="causes-details-content">
                <div class="causes-details">
                  <div class="thumb">
                    <img class="w-100" src="{% static '/img/causes/' %}{{request.dpimage}}.jpg" alt="Image-safar" >
                  </div>
                  <h4 class="cause-title">Request Category: {{request.request_category}}.</h4>
                  
                  <div class="donate-info-wrp">
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="donate-info">
                          <li class="info-item">
                            <span class="info-title">Goal:</span>
                            <span class="amount">₹ {{request.amount}}</span>
                          </li>
                          <li class="info-item">
                            <span class="info-title">Raised:</span>
                            <span class="amount">₹ {{request.collected}}</span>
                          </li>
                          <li class="info-item">
                            <span class="info-title">To Go:</span>
                            <span class="amount">₹ {{request.remaining}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <!-- Start Progress Item -->
                        <div class="progress-item">
                          <div class="progress-line">
                            <div class="progress-bar-line" data-percent="{{request.percent}}%"><span class="percent"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <a class="btn-theme btn-gradient btn-slide btn-style" data-toggle="modal" data-target="#AddProduct">Donate Now <img class="icon icon-img" src="{% static 'img/icons/arrow-line-right2.png'%}" alt="Icon" ></a>
                  
                  </div>
                  <h4>Cause Description:</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 an when
                   an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
                   electronic typesetting, remaining essentially unchanged was popularised in the 1960s with the release of etraset sheets containing Lorem Ipsum passages.</p>
                  <h4>Summery And Documents</h4>
                  <div class="gallery text-center">
                      <img alt="image-gallery" src="/supporting/{{request.identity_image}}" class="img-fluid mb-4 mt-4" style="width: 220px; height: 220px;">&nbsp                                                        
                      <img alt="image-gallery" src="/supporting/{{request.image1}}" class="img-fluid mb-4 mt-4" style="width: 220px; height: 220px;">&nbsp
                      <img alt="image-gallery" src="/supporting/{{request.image2}}" class="img-fluid mb-4 mt-4" style="width: 220px; height: 220px;">&nbsp
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 an when
                   an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                
              </div>
              <div class="sidebar-area">
                <div class="widget">
                  <h3 class="widget-title">Causes Categories</h3>
                  <div class="separator-line">
                    <img class="me-1" src="{% static 'img/shape/line-t2.png'%}" alt="Image-safar">
                  </div>
                  <div class="widget-category">
                    <a href="{% url 'causes' %}?category=MEDICAL">MEDICAL <span>(18)</span></a>
                    <a href="{% url 'causes' %}?category=LITERACY AND EDUCATION">LITERACY AND EDUCATION <span>(06)</span></a>
                    <a href="{% url 'causes' %}?category=HUMAN RIGHTS">HUMAN RIGHTS<span>(19)</span></a>
                    <a href="{% url 'causes' %}?category=PHYSICAL HELP">PHYSICAL HELP <span>(27)</span></a>
                    <a href="{% url 'causes' %}?category=POVERTY">POVERTY <span>(27)</span></a>
                    <a href="{% url 'causes' %}?category=OTHER">OTHER <span>(27)</span></a>                    
                  </div>
                </div>
                <div class="widget">
                  <h3 class="widget-title">Urgent Causes</h3>
                  <div class="separator-line">
                    <img class="me-1" src="{% static 'img/shape/line-t2.png'%}" alt="Image-safar">
                  </div>
                  <div class="widget-causes-item">
                    <div class="thumb">
                      <img src="{% static 'img/causes/w1.jpg'%}" alt="safar-HasTech">
                    </div>
                    <div class="content">
                      <h4 class="title"><a href="causes-details.html">Need School For Uganda Poor Children.</a></h4>
                      <ul class="donate-info">
                        <li class="info-item">
                          <span class="info-title">Goal:</span>
                          <span class="amount">₹ 5,000</span>
                        </li>
                        <li class="info-item">
                          <span class="info-title">Raised:</span>
                          <span class="amount">₹ 2,000</span>
                        </li>
                      </ul>
                      <!-- Start Progress Item -->
                      <div class="progress-item">
                        <div class="progress-line">
                          <div class="progress-bar-line" data-percent="75%"><span class="percent"></span></div>
                        </div>
                      </div>
                      
                        <a class="btn-theme btn-gradient btn-slide" href="#"><span>Donate Now <img class="icon icon-img" src="{% static 'img/icons/arrow-line-right2.png'%}" alt="Icon"></span></a>
                      
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Causes Area ==-->
  </main>
  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="widget-item">
              <div class="about-widget">
                <a class="footer-logo" href="index.html">
                  <img src="{% static 'img/logo.png'%}" alt="Logo">
                </a>
                <p>Lorem Ipsum is simply dummy text of the industry orem Ipsum has been the industry's since the when unknown.</p>
                <div class="widget-total-raised">
                  <h4 class="raised-title">Total Raised:</h4>
                  <div class="raised-amount">₹8,965</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="widget-item">
              <h4 class="widget-title line-style">Gallery</h4>
              <div class="widget-gallery">
                <div class="row row-cols-3 row-gutter-10">
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery1.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery2.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery3.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery4.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery5.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="gallery-item">
                      <img src="{% static 'img/photos/gallery6.jpg'%}" alt="safar-HasTech">
                      <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="widget-item menu-wrap-two-column">
              <h4 class="widget-title line-style">Quick Links</h4>
              <nav class="widget-menu-wrap">
                    <ul class="nav-menu nav">
                      <li><a href="{% url 'about' %}">About Us</a></li>
                      <li><a href="#/">Blog Post Terms</a></li>
                      <li><a href="#/">Conditions</a></li>
                      <li><a href="#/">Privacy Policy</a></li>
                      <li><a href="#/">Documentation</a></li>
                    </ul>
                  </div>
                  
              </nav>
          </div>
        </div>
      </div>
      <!--== Scroll Top Button ==-->
      <div class="scroll-to-top"><img src="{% static 'img/icons/arrow-up-line.png'%}" alt="Icon-Image"></div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="widget-copyright text-center">
                <p>©2021 <span>SAFAR</span>. All rights reserved.</p>       
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-layer">
      <img src="{% static 'img/shape/footer-line.png'%}" alt="Image-safar">
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="logo-area">
            <a href="index.html"><img src="{% static 'img/logo.png'%}" alt="Logo" /></a>
          </div>
          <div class="close-action">
            <button class="btn-close"><i class="icofont-close"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu menu-active-one">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->  
</div>
<!-- Modal -->
<div class="modal fade " id="AddProduct" tabindex="-1" role="dialog" aria-labelledby="AddProductTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered col-md-3" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title navbar-brand" style="font-size: 25px;" id="ModalTitle">NEW PRODUCT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<form action="{{window.location.href}}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
      <div class="modal-body">
      Request Id: 
        <input class="form-control mb-2" id="requestId" type="text" value = {{request.id}} readonly>
		  <div class="row">
			<div class="col">
			  <div class="form-group">
				<input class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
			  </div>
			</div>

			  <div class="col">
				  	<div class="form-group" style="display: inline-block; float: left">
						<input class="form-control" id="remaining" type="text" value = {{request.remaining}} readonly>
		  			</div>
			  </div>
		    </div>
        
		  <div class="form-group">
			<input class="form-control" id="card-details" name="card-details" placeholder="Enter card details" >
		  </div>
      <div class="row">
			<div class="col">
			  <div class="form-group">
				<input class="form-control" id="cvv" name="cvv" placeholder="Enter cvv" >
			  </div>
			</div>

			  <div class="col">
				  	<div class="form-group" style="display: inline-block; float: left">
						<input class="form-control" id="expiry" name="expiry" placeholder="Enter expiry" >
		  			</div>
			  </div>
		    </div>
      
			  <div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
		</form>
	</div>

	</div>
</div>

<!--=======================Javascript============================-->
<!--=== Modernizr Min Js ===-->
<script src="{% static 'js/modernizr.js'%}"></script>
<!--=== jQuery Min Js ===-->
<script  src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'js/jquery-migrate.js'%}"></script>
<!--=== Popper Min Js ===-->
<script  src="{% static 'js/popper.min.js'%}"></script>
<!--=== Bootstrap Min Js ===-->
<script  src="{% static 'js/bootstrap.min.js'%}"></script>
<!--=== jquery Appear Js ===-->
<script  src="{% static 'js/jquery.appear.js'%}"></script>
<!--=== jquery Swiper Min Js ===-->
<script  src="{% static 'js/swiper.min.js'%}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script  src="{% static 'js/fancybox.min.js'%}"></script>
<!--=== jquery Aos Min Js ===-->
<script  src="{% static 'js/aos.min.js'%}"></script>
<!--=== jquery Tilt Animation Js ===-->
<script src="{% static 'js/tilt-animation.js'%}"></script>
<!--=== jquery Scene Mouse Move Min Js ===-->
<script  src="{% static 'js/parallax.min.js'%}"></script>
<!--=== jquery Slicknav Js ===-->
<script  src="{% static 'js/jquery.slicknav.js'%}"></script>
<!--=== jquery Counterup Js ===-->
<script  src="{% static 'js/counterup.js'%}"></script>
<!--=== jquery Waypoint Js ===-->
<script  src="{% static 'js/waypoint.js'%}"></script>
<!--=== jquery Wow Min Js ===-->
<script  src="{% static 'js/wow.min.js'%}"></script>
<!--=== jQuery EasyPieChart Min Js ===-->
<script  src="{% static 'js/jquery.easypiechart.min.js'%}"></script>

<!--=== Custom Js ===-->
<script  src="{% static 'js/custom.js'%}"></script>


</body>

</html>